<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <servlet>
    <servlet-name>MyFirstServlet</servlet-name>
    <servlet-class>servlet.MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFirstServlet</servlet-name>
    <url-pattern>/helloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MySecondServlet</servlet-name>
    <servlet-class>servlet.MySecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySecondServlet</servlet-name>
    <url-pattern>/helloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>servlet.ConfigServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>yyin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigServlet</servlet-name>
    <url-pattern>/ConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContextServlet</servlet-name>
    <servlet-class>servlet.ContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextServlet</servlet-name>
    <url-pattern>/ContextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyEclipseServlet</servlet-name>
    <servlet-class>servlet.MyEclipseServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>yyin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyEclipseServlet</servlet-name>
    <url-pattern>/MyEclipseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyEclipseServlet2</display-name>
    <servlet-name>MyEclipseServlet2</servlet-name>
    <servlet-class>servlet.MyEclipseServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyEclipseServlet2</servlet-name>
    <url-pattern>/MyEclipseServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyEclipseServlet3</display-name>
    <servlet-name>MyEclipseServlet3</servlet-name>
    <servlet-class>servlet.MyEclipseServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyEclipseServlet3</servlet-name>
    <url-pattern>/MyEclipseServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EncodingServlet</display-name>
    <servlet-name>EncodingServlet</servlet-name>
    <servlet-class>servlet.EncodingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncodingServlet</servlet-name>
    <url-pattern>/EncodingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EncodingServlet2</display-name>
    <servlet-name>EncodingServlet2</servlet-name>
    <servlet-class>servlet.EncodingServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncodingServlet2</servlet-name>
    <url-pattern>/EncodingServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PathServlet</display-name>
    <servlet-name>PathServlet</servlet-name>
    <servlet-class>servlet.PathServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PathServlet</servlet-name>
    <url-pattern>/PathServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>